.ItemOnCart {
  border: 1px solid black;
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: relative;
  border-radius: 20px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}

@media screen and (max-width: 768px) {
  .ItemOnCart {
    flex-direction: column;
  }
}

@media screen and (max-width: 768px) {
  .ItemOnCart__text {
    margin-bottom: 15px;
  }
}

.ItemOnCart__title {
  margin: 0;
}

.ItemOnCart__description {
  padding: 0;
  margin: 0;
  height: 42px;
}

@media screen and (min-width: 768px) {
  .ItemOnCart__description {
    min-width: 500px;
  }
}

.ItemOnCart__quantityContainer {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
  margin-bottom: 10px;
}

.ItemOnCart__quantity {
  width: 100px;
  padding-left: 20px;
  padding-right: 20px;
  font-size: x-large;
  margin-top: auto;
  margin-bottom: auto;
}

.ItemOnCart__container {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ItemOnCart__image {
  max-width: 80px;
  max-height: 64px;
}
