.ListOfItems {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(340px, 4fr));
  grid-gap: 10px;
  justify-items: center;
  align-items: center;
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 10px;
}
