.Navbar {
  position: fixed;
  height: 50px;
  top: 0;
  left: 0;
  right: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background-color: tomato;
  z-index: 10;
}

@media screen and (max-width: 768px) {
  .Navbar {
    border-radius: 0 0 10px 10px;
  }
}

.link {
  text-decoration: none;
  color: rgb(216, 230, 218);
}

.Navbar-logo {
  font-size: x-large;
  font-weight: bold;
}

.ShoppingCart {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 47px;
  height: 47px;
}
.ShoppingCart-icon {
  background-image: url('./icons8-shopping-cart-64.png');
  background-size: cover;
  width: 50%;
  height: 50%;
}

.ShoppingCart-text {
  color: rgb(216, 230, 218);
  width: 50%;
  text-align: end;
}
