.ListOfItemsOnCart {
  padding-left: 1.5rem;
  padding-right: 1.5rem;
  display: grid;
  grid-template-columns: repeat(1fr, minmax(320px, 1200px));
  grid-gap: 20px;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 20px;
  max-width: 1200px;
  min-width: 375px;
}
